<h1>Commitment</h1>
<h2>Track your progress as you take the "Commit a Day" challenge</h2>

<div>
  <p>Commitment keeps you on track while working on side projects.</p>
  <p>Features include:</p>
  <ul>
    <li>
      Email notifications at a specific time each day reminding
      you to commit
    </li>
    <li>Interesting information about commit history</li>
  </ul>
</div>

<div>
  <p>Check your progress</p>
  <label for="username">Enter your github username: </label>
  <input type="text" name="username" />
</div>

<div>
  <p>Can't think of a side project? Check out some of these:</p>
  <a href="https://projecteuler.net/">Project Euler</a>
</div>
